@font-face{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('~src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('~src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face{
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url('~src/assets/fonts/Roboto/Roboto-Italic.ttf');
}
